.backToTopButton {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 40%;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .backToTopButton:hover {
    background-color: #45a049;
  }
  
  .backToTopButton:focus {
    outline: none;
  }
  